.section-d {
  width: 100%;
  max-width: 100%;
  height: 75vh;
  position: relative;

  &-light {
    background: #fff;
  }
  &-dark {
    background: #000;
  }
  &-text {
    color: purple;
    z-index: 10;
    font-size: 40px;
    position: absolute;
    top: 65vh;
    left: 50vw;
    &:hover {
      color: red;
    }
    @media (max-width: 1300px) {
      font-size: 30px;
    }
    @media (max-width: 560px) {
      left: 40vw;
      top: 60vh;
    }
    @media (max-width: 340px) {
      font-size: 20px;
    }
  }
}

.bg-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
