@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Gruppo&family=Libre+Barcode+128+Text&display=swap");

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-image: url("../../HomePage/Carousel/carouselImages/img4.jpg");
  background-attachment: fixed;
  background-blend-mode: multiply;
  &-dark-mode {
    background-color: rgba(37, 37, 37, 0.5); // Tint color
    color: #fff;
  }
  &-light-mode {
    background-color: rgba(221, 221, 215, 0.5);
    color: #000;
  }
}

.blog-post-img {
  height: 300px;
  width: 600px;
  margin: 20px 0;
}

.blog-post-title {
  text-align: center;
  margin: 20px 0 10px;
  font-family: "Cabin Sketch";
  font-weight: 400;
}

.blog-post-content {
  margin: 0 60px;
  font-size: 20px;
  text-align: left;
  padding: 40px;
  &-dark-mode {
    background: rgba(46, 46, 45, 0.5);
  }
  &-light-mode {
    background: rgba(248, 248, 245, 0.5);
  }
  @media (max-width: 750px) {
    font-size: 15px;

    margin: 0 30px;
    padding: 20px;
  }
}

.blog-post-date {
  margin: 20px 0;
}

@media (max-width: 605px) {
  .blog-post-img {
    height: 200px;
    width: 300px;
  }
  .blog-post-content {
    margin: 0 30px;
  }
}

.blog-post-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.blog-post-name-input {
  font-family: "Libre Barcode 128 Text";
  font-size: 40px;
  min-width: 300px;
  border-radius: 5px;

  &-dark-mode {
    background: #000;
    color: #fff;
  }
  &-light-mode {
    background: #fff;
    color: #000;
  }
}

.blog-post-textarea {
  min-height: 100px;
  font-family: "Libre Barcode 128 Text";
  font-size: 40px;
  min-width: 300px;
  border-radius: 5px;
  &-dark-mode {
    background: #000;
    color: #fff;
  }
  &-light-mode {
    background: #fff;
    color: #000;
  }
}

.blog-post-submit-button {
  font-family: "Libre Barcode 128 Text";
  font-size: 40px;
  background: grey;
  color: #fff;
  min-width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.blog-post-error-message-container {
  text-align: center;
}

.blog-post-error-message {
  color: white;
}

.user-comment {
  background: #000;
  color: #fff;
  margin-top: 10px;

  padding: 10px;
  text-align: center;
  max-width: 300px;
}

.user-comment-name {
  color: blue;
}

.user-comment-comment {
  color: pink;
  font-family: Gruppo;
  margin: 10px 0;
}

.user-comment-date {
  color: beige;
}

.recaptcha-container {
  min-width: 300px;
  display: flex;
  align-items: center;
}

.additional-blog-img {
  width: 100%;
}
