@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap");
.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-image: url("../../HomePage/Carousel/carouselImages/img4.jpg");
  background-blend-mode: multiply;
  &-dark-mode {
    background-color: rgba(37, 37, 37, 0.5); // Tint color
    color: #fff;
  }
  &-light-mode {
    background-color: rgba(221, 221, 215, 0.5);
    color: #000;
  }
}

.blog-post-img {
  height: 300px;
  width: 600px;
  margin: 20px 0;
}

.blog-post-title {
  text-align: center;
  margin: 20px 0 10px;
}

.blog-post-content {
  margin: 0 60px;
  font-size: 20px;
  text-align: justify;
}

.blog-post-date {
  margin: 20px 0;
}

@media (max-width: 605px) {
  .blog-post-img {
    height: 200px;
    width: 300px;
  }
  .blog-post-content {
    margin: 0 30px;
  }
}

.blog-post-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.blog-post-name-input {
  font-family: arial;
  font-size: 20px;
  min-width: 300px;
  border-radius: 5px;

  &-dark-mode {
    background: #000;
    color: #fff;
  }
  &-light-mode {
    background: #fff;
    color: #000;
  }
}

.blog-post-textarea {
  min-height: 100px;
  font-family: arial;
  font-size: 20px;
  min-width: 300px;
  border-radius: 5px;
  &-dark-mode {
    background: #000;
    color: #fff;
  }
  &-light-mode {
    background: #fff;
    color: #000;
  }
}

.blog-post-submit-button {
  font-family: arial;
  font-size: 20px;
  background: grey;
  color: #fff;
  min-width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.blog-post-error-message-container {
  text-align: center;
}

.blog-post-error-message {
  color: white;
}

.user-comment {
  background: #000;
  color: #fff;
  margin-top: 10px;

  padding: 10px;
  text-align: center;
  max-width: 300px;
}

.user-comment-name {
  color: blue;
}

.user-comment-comment {
  color: pink;
  font-family: Gaegu;
}

.user-comment-date {
  color: beige;
}

.recaptcha-container {
  min-width: 300px;
  display: flex;
  align-items: center;
}
