@import "../../../staticResources/sassFiles/Mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");

// MIXINS:
// underline styles (grow and shrink)

@mixin underlineGrowOnMouseover {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

@mixin underlineShrinkOnMouseout {
  width: 100%;
  left: 0;
}

// nav item styles

@mixin navItemStyles {
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  color: #000;
  font-size: 20px;
  flex-grow: 1;
  // change item width here:
  width: 198px;
  max-width: 198px;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 20px;
}

////////////////////////////////////////////////////////////////////////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FLEX CONTAINER PROPERTIES */

@mixin flexContainerStyles {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 100%;
}

.flex-container {
  background-color: #000;
  @include flexContainerStyles;
}

.flex-container-dark {
  background-color: #fff;
  @include flexContainerStyles;
}

@media (min-width: 855px) {
  .flex-container {
    justify-content: flex-end;
  }
}

/* FLEX ITEM PROPERTIES */

.org-logo {
  @include navItemStyles;
  text-align: center;
  font-family: "Cabin Sketch";
}

// @media (min-width: 746px) {
@media (min-width: 790px) {
  .org-logo {
    margin-right: auto;
  }
}

.item-dark {
  @include navItemStyles;
  // added for growing underline
  text-align: center;
  margin-top: 20px;
  position: relative;
  background: #000;
  color: #fff;
  cursor: pointer;
  @media (max-width: 1535px) {
    max-width: 100px;
  }
}

.item-light {
  @include navItemStyles;
  // added for growing underline
  text-align: center;
  margin-top: 20px;
  position: relative;
  background: #fff;
  color: #000;
  cursor: pointer;
  @media (max-width: 1535px) {
    max-width: 100px;
  }
}

// :after pseudo-element underline - grows on mouseover, shrinks on mouseout
// .item must have position: relative as above

// pseudo-element for .item-dark class
.item-dark:after {
  @include underlineGrowOnMouseover;
  background: #fff;
}
.item-dark:hover:after {
  @include underlineShrinkOnMouseout;
  background: #fff;
}

// pseudo-element for .item-light class

.item-light:after {
  @include underlineGrowOnMouseover;
  background: #000;
}
.item-light:hover:after {
  @include underlineShrinkOnMouseout;
  background: #000;
}
