@import "../../../sassFiles/sassMixins/SassMixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FLEX CONTAINER PROPERTIES */

@mixin flexContainerStyles {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  align-content: stretch;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  width: 100vw;
}

.flex-container {
  background-color: #000;
  @include flexContainerStyles;
}

.flex-container-dark {
  background-color: #fff;
  @include flexContainerStyles;
}

@media (min-width: 855px) {
  .flex-container {
    justify-content: flex-end;
  }
}

/* FLEX ITEM PROPERTIES */

.org-logo {
  @include navItemStyles;
}

.item {
  @include navItemStyles;
  // added for growing underline
  margin-top: 20px;
  position: relative;
  background-image: url("../../../backgroundImages/backgroundImage1.webp");
  @include imageFit;
}

.button-item-dark {
  background: #000;
  &:after {
    background-color: transparent;
  }
  &:hover:after {
    background-color: transparent; // make expanding underline invisible
  }
}

.button-item-light {
  background: #fff;
  &:after {
    background-color: transparent;
  }
  &:hover:after {
    background-color: transparent;
  }
}

@media (min-width: 645px) {
  .org-logo {
    margin-right: auto;
  }
}

// :after pseudo-element underline - grows on mouseover, shrinks on mouseout
// .item must have position: relative as above
.item:after {
  @include underlineGrowOnMouseover;
}
.item:hover:after {
  @include underlineShrinkOnMouseout;
}
