// Notes on carousel with video overlay:

// ----- about the carousel

// The carousel uses local state to change the images, and react-transition-group so animate the transition between states.
// The carousel has a foreground video positioned within the container of the carousel.

// ----- prevent collapsing

// The images in the carousel enter and exit the DOM on a timer. There is a split second between one exiting and another entering where there is no image in the DOM.
// As a result the carousel vanishes for a split second and everything else moves up.
// To fix this the entire carousel is wrapped in a container (img-container) which has a height and width, has no content and is relatively positioned. This stops the carousel collpasing between transitions.
// This container also keeps images on top of one another when transitioning.

// ----- prevent horizontal overflow

// When full width elements like the carousel have a width of 100vw, this causes horizontal overflow of the viewport, meaning the site occupies horizontally slightly more space than the viewport and a horizontal scrollbar is created.
// to fix this use width: 100% and max-width: 100% on all elements you want to occupy 100% width of the viewport.

.img-container {
  width: 100%;
  max-width: 100%;
  height: 75vh;
  position: relative;
}

.carousel-img {
  width: 100%;
  max-width: 100%;
  height: 75vh;
}

@media (max-width: 700px) {
  .carousel-img {
    height: 50vh;
  }
  .img-container {
    height: 50vh;
  }
}

// image appear

.fade-appear {
  opacity: 0;
  z-index: 1;
  position: absolute;

  &-active {
    opacity: 1;
    transition: opacity 500ms linear;
  }
}

// image enter

.fade-enter {
  opacity: 0;
  z-index: 1;
  position: absolute;

  &-active {
    opacity: 1;
    transition: opacity 500ms linear 500ms;
  }
}

// image exit

.fade-exit {
  opacity: 1;
  z-index: 0;
  position: absolute;

  &-active {
    opacity: 0;
    transition: opacity 2500ms linear;
  }
}

// buttons

.carousel-btn-container {
  position: absolute;
  width: 100%; // set width to position btns
}

.carousel-btn {
  height: 17px;
  width: 20px;
  position: relative;
  // border-radius: 50px;
  z-index: 10;
  top: 37.5vh;
  left: 1vw;
  display: flex;
  justify-content: center;
}

.dark-background {
  background-color: #000;
  color: #fff;
}

.light-background {
  background-color: #fff;
  color: #000;
}

@media (max-width: 700px) {
  .carousel-btn {
    top: 25vh;
  }
}

.carousel-btn-left {
  float: left;
}

.carousel-btn-right {
  float: right;
  margin-right: 2vw;
}

// foreground video

.fg-video-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 75vh;
  z-index: 1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .fg-video-1 {
    height: 50vh;
  }
}
