.blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
  background-image: url("../HomePage/Carousel/carouselImages/img4.jpg");
  background-blend-mode: multiply;
  &-dark-mode {
    background-color: rgba(37, 37, 37, 0.5); // Tint color
    color: #fff;
  }
  &-light-mode {
    background-color: rgba(221, 221, 215, 0.5);
    color: #000;
  }
}

.blog-post-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  font-size: 175%;
}

.blog-content {
  font-size: 100%;
}

.blog-date {
  font-size: 50%;
}

.blog-img {
  height: 200px;
  width: 400px;
}

@media (max-width: 400px) {
  .blog-img {
    width: 250px;
  }
}

.results-per-page-title {
  color: blue;
}

.results-per-page-container {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  min-width: 300px;
  cursor: pointer;
}

.result-per-page-btn {
  cursor: pointer;
}
