.dark-mode {
  color: #fff;
  background-image: url("../../staticResources/backgroundImages/backgroundImage1.webp");
  background-color: rgba(211, 208, 206, 0.5); // Tint color
  background-blend-mode: multiply;
}

.light-mode {
  background: #e3dac9;
  color: #000;
}

.blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  font-size: 175%;
}

.blog-content {
  font-size: 100%;
}

.blog-date {
  font-size: 50%;
}

.blog-img {
  height: 200px;
  width: 400px;
}

.results-per-page-title {
  color: blue;
}

.results-per-page-container {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  min-width: 300px;
  cursor: pointer;
}

.result-per-page-btn {
  cursor: pointer;
}
