.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
  background-image: url("../HomePage/Carousel/carouselImages/img4.jpg");
  background-blend-mode: multiply;
  font-size: 20px;
  text-align: center;
  &-dark-mode {
    background-color: rgba(37, 37, 37, 0.5); // Tint color
    color: #fff;
  }
  &-light-mode {
    background-color: rgba(221, 221, 215, 0.5);
    color: #000;
  }
}

.contact-title {
  font-family: "Cabin Sketch";
  font-weight: 400;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
}

.contact-input,
.contact-textarea,
.contact-button {
  font-size: 30px;
  width: 100%;
  font-family: arial;
  // margin: 10px;
}

.contact-button {
  background: grey;
  color: #fff;
}

.contact-button::before {
  content: "";
  height: 50px;
  width: 50px;
  background: red;
}

.error-message {
  color: red;
}
