// the images are exiting the DOM which is why the othe pictures are lifted up.
// Carousel needs a relatively positioned container with a fixed width and height that contains everything else

//important: this keeps the transitioning images on top of one another
.img-container {
  width: 100vw;
  height: 75vh;
  position: relative;
}

.carousel-img {
  width: 100vw;
  height: 75vh;
}

@media (max-width: 700px) {
  .carousel-img {
    height: 50vh;
  }
}

// image appear

.fade-appear {
  opacity: 0;
  z-index: 1;
  position: absolute;

  &-active {
    opacity: 1;
    transition: opacity 500ms linear;
  }
}

// image enter

.fade-enter {
  opacity: 0;
  z-index: 1;
  position: absolute;

  &-active {
    opacity: 1;
    transition: opacity 500ms linear 500ms;
  }
}

// image exit

.fade-exit {
  opacity: 1;
  z-index: 0;
  position: absolute;

  &-active {
    opacity: 0;
    transition: opacity 2500ms linear;
  }
}

// buttons

.carousel-btn-container {
  position: absolute;
  width: 100%; // set width to position btns
}

.carousel-btn {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 50px;
  z-index: 10;
  top: 37.5vh;
  left: 1vw;
}

.dark-background {
  background-color: #000;
  color: #fff;
}

.light-background {
  background-color: #fff;
  color: #000;
}

@media (max-width: 700px) {
  .carousel-btn {
    top: 25vh;
  }
}

.carousel-btn-left {
  float: left;
}

.carousel-btn-right {
  float: right;
  margin-right: 2vw;
}

//

.bg-video-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  z-index: 1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .bg-video-1 {
    height: 50vh;
  }
}
