// scrollbar

body::-webkit-scrollbar {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #181617;
}

body::-webkit-scrollbar-button {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4e3e1;
}
body::-webkit-scrollbar-thumb {
  background-color: #e4e3e1;
}
body::-webkit-scrollbar-corner {
  background-color: #e4e3e1;
}

// dark mode button

.dark-mode-btn {
  border: none;
  font-family: arial;
  font-size: 10px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;

  outline: none;
  position: absolute;
  right: 1030px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.dark-mode-btn {
  &:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:hover,
  active {
    color: #0e83cd;
  }
  &:hover:after,
  &:active:after {
    width: 100%;
  }
}

.btn-dark-background {
  border: 3px solid #fff;
  color: #fff;
  &:after {
    background: #fff;
  }
}

.btn-light-background {
  border: 3px solid #000;
  color: #000;
  &:after {
    background: #000;
  }
}
