@import "../../../staticResources/sassFiles/Utilities.scss";

.no-navbar-dark {
  @include fullScreenWidth;
  background-color: #000;
  color: #fff;
  height: 25px;
}

.no-navbar-light {
  @include fullScreenWidth;
  background-color: #fff;
  color: #000;
  height: 25px;
}
